@model IEnumerable<PudgeManga_Project.Models.Manga>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" type="text/css" asp-append-version="true" />
</head>
<h1>Vadym skazav napysaty tut admin panel</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="CreateGenre">Create new Genre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translator)
            </th>
            <th>
                Genres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoverUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Translator)
                </td>
                <td>
                    @foreach (var genre in item.MangaGenres)
                    {
                        @genre.Genre.Name
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MangaId">Edit</a>
                    <a asp-action="Chapters" asp-route-mangaId="@item.MangaId">Chapters</a>
                    <a asp-action="Delete" asp-route-id="@item.MangaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

