@using PudgeManga_Project.ViewModels
@model UserDetailViewModel

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true">
</head>

<body>
    <main class="py-5">
        <div class="container">
            <div class="top-row d-flex p-4 align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="px-4 user-avatar-block">
                        <img src="@Model.ProfileImageUrl" class="user-avatar p-2">
                    </div>
                    <div class="ps-5">
                        <div class="nickname">
                            <p class="text-black fs-2">@Model.UserName</p>
                            <p class="text-secondary fs-5"></p>
                        </div>
                    </div>
                </div>
                <div class="">
                    <a href="/user/EditProfile">
                        <img src="~/src/img/setting_2040504.png" class="settings">
                    </a>
                </div>
            </div>
            <div class="bottom-row row px-4">
                <div class="col-3 sidebar text-black pt-5 px-4">
                    <p>Вік: @Model.Age</p>
                    <p>Місто: @Model.State</p>
                    <p class="h4">Про мене</p>
                    <p>@Model.Aboutme</p>
                    <div class="buttons d-grid mb-3">
                        <button class="btn btn-danger" type="button">Скопіювати лист манги</button>
                    </div>

                </div>
                <div class="">

                </div>
            </div>
        </div>
    </main>
</body>