@model IEnumerable<PudgeManga_Project.Models.Comment>


@foreach (var comment in Model)
{
    <li class="comment" data-id="@comment.CommentId">
        <div class="avatar">
            <a href="javascript:void(0);">
                <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="55" height="55">
            </a>
        </div>
        <div data-id="@comment.CommentId" class="comment-body">
            <header><a href="javascript:void(0);" class="userlink">USER</a> - <span class="pubdate">постed @comment.CommentDate.ToString("dd-MM-yyyy")</span></header>
            <p>
                @comment.CommentText
            </p>
            <footer>
                <a class="reply-link" href="@comment.CommentId">Reply</a>
            </footer>
        </div>

        @{
            var children = Model.Where(x => x.ParentId == comment.CommentId).ToList();
            if (children.Count() > 0)
            {
                <ul data-parentid="@comment.CommentId" class="replies">
                    @await Html.PartialAsync("_CommentPartial", children)
                </ul>
            }
        }
    </li>
}



