@model PudgeManga_Project.Models.Manga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manga</h4>
    <hr />
    <dl class="row">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverUrl)
        </dd>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MangaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
