@model PudgeManga_Project.Models.Manga

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/manga.css" asp-append-version="true">
    <title>pudge soft corporation</title> <!--change title-->

</head>

<body>

    <main class="py-5">
        <div class="container py-5">
            <div class="row">
                <div class="manga-title col-md-4 col-12 d-flex justify-content-center align-items-center flex-column">
                    <img src="@Model.CoverUrl">
                    <h1 class="fs-4 d-block d-md-none pt-2">@Model.Title</h1>
                    <a class="nav-link" asp-controller="Manga" asp-action="Reading" asp-route-mangaId="@Model.MangaId" asp-route-chapter="1">
                    <div class="pt-2">
                        <button type="button" class="btn btn-warning text-white fs-4">Читати мангу</button>
                        </div>
                    </a>
                    <div class="stars d-flex d-md-none d-flex align-items-center justify-content-center">
                        <img src="~/src/img/Artboard_1.png">
                        <div class="fs-2">5/5</div>
                    </div>
                    <div class="genres d-flex flex-wrap justify-content-center mt-1">
                        <button type="button" class="btn m-1 px-4 btn-secondary">Жанр</button>
                        <button type="button" class="btn m-1 px-4 btn-secondary">Жанр</button>
                        <button type="button" class="btn m-1 px-4 btn-secondary">Жанр</button>
                        <button type="button" class="btn m-1 px-4 btn-secondary">Жанр</button>
                        <button type="button" class="btn m-1 px-4 btn-secondary">Жанр</button>
                        <button type="button" class="btn m-1 px-4 btn-secondary">Жанр</button>
                        <button type="button" class="btn m-1 px-4 btn-secondary">Жанр</button>
                    </div>
                    <div class="other-info mt-3 p-3 d-flex flex-row justify-content-md-start justify-content-between flex-md-column flex-wrap">
                        <div class="info-block mb-3">
                            <h4 class="text-secondary fs-5">Тип</h4>
                            <p>Тип</p>
                        </div>
                        <div class="info-block mb-3">
                            <h4 class="text-secondary fs-5">Жанр</h4>
                            <p>Тип</p>
                        </div>
                        <div class="info-block mb-3">
                            <h4 class="text-secondary fs-5">Автор</h4>
                            <p>@Model.Author</p>
                        </div>
                        <div class="info-block mb-3">
                            <h4 class="text-secondary fs-5">Художник</h4>
                            <p>Тип</p>
                        </div>
                        <div class="info-block mb-3">
                            <h4 class="text-secondary fs-5">Видавництво</h4>
                            <p>Тип</p>
                        </div>
                    </div>



                </div>
                <div class="col-md-8 col-12">

                    <div class="top-text-block d-flex justify-content-between flex-wrap">
                        <h1 class="fs-3 d-none pt-2 d-md-block">@Model.Title</h1>
                        <div class="stars d-flex align-items-center justify-content-end d-none d-md-flex">
                            <img src="~/src/img/Artboard_1.png">
                            <div class="fs-2">5/5</div>
                        </div>
                    </div>
                    <div class="bottom-text-block mt-4">
                        <div class="top-nav d-flex justify-content-around p-2 flex-wrap">

                            <a class="nav-link" asp-controller="Manga" asp-action="Description" asp-route-mangaId="@Model.MangaId">
                                <div class="text-body-secondary nav-link fs-5">Опис</div>
                            </a>
                            <a class="nav-link" asp-controller="Manga" asp-action="Chapters" asp-route-mangaId="@Model.MangaId">
                                <div class="text-body-secondary nav-link fs-5">Глави</div>
                            </a>
                            <a class="nav-link" asp-controller="Manga" asp-action="Comments" asp-route-mangaId="@Model.MangaId">
                                <div class="text-body-secondary nav-link fs-5">Коментарі</div>
                            </a>
                        </div>
                        <div class="p-5">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sit, consequatur nemo aperiam facilis excepturi ea incidunt reiciendis, porro soluta eligendi repellendus? Magni eos optio odit consequuntur repellat numquam accusamus aperiam architecto. Ab reiciendis minima soluta sequi magni officiis beatae exercitationem, temporibus eveniet est similique placeat quis! Rem eius voluptatum maiores rerum debitis itaque enim quam porro. Quam tempore vitae laudantium non nisi ea sapiente aspernatur obcaecati! Doloribus eos, aut explicabo sed facere autem, reprehenderit sunt facilis quae ratione dolor officiis beatae, magni distinctio eius veniam dolore quis? Ducimus, facilis provident neque nihil ratione amet voluptatem minima officiis tempore dolorem nobis ad earum assumenda itaque pariatur? Ad sunt quibusdam nisi laboriosam at, inventore consequuntur recusandae repudiandae ab nesciunt vitae est sed iusto quo? Eum quo ea saepe quaerat, recusandae sunt molestiae labore dolores reiciendis enim blanditiis vero sit mollitia velit officiis, excepturi atque commodi repudiandae illo doloremque consequuntur cupiditate modi?</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>